# Build
target/
build/

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# Logs
*.log

# OS files
.DS_Store

# Environment / Secrets
application.properties
.env